<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="CURA Regression Suite">

    <listeners>
        <listener class-name="tarakanova.utils.TestListener"/>
    </listeners>

    <test name="All Tests">
        <classes>
            <class name="tarakanova.tests.HomeTest"/>
            <class name="tarakanova.tests.LoginTest"/>
            <class name="tarakanova.tests.AppointmentTest"/>
            <class name="tarakanova.tests.LogoutTest"/>
        </classes>
    </test>

</suite>